* {
    margin: 0;
}

section {
    width: 100vw;
    min-height: calc(100vh - 50px);
    position: relative;
    background-color: aliceblue;
    padding-top: 50px;
}

.form_div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 2px 3px;
    height: 30%;
    width: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}

form, .link__div {
    width: 80%;
    height: 50%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    word-break: break-word;
}

input {
    width: 100%;
    height: 30px;
}

button, .link__btn {
    min-width: fit-content;
    width: 100%;
    padding: 10px;
    height: fit-content;
    font-weight: 900;
    background-color: bisque;
    color: brown;
    border: 1px solid salmon;
    text-align: center;
}

a {
    text-decoration: none;
}
.main__head {
    margin: 50px auto;
    width: 90%;
    padding: 10px;
}
#chart_container {
    width: 75%;
    margin: 10px auto;
}

table {
    width: 75%;
    margin: 10px auto;
}
table, tr, td {
    border: 1px solid rgb(49, 55, 42);
    border-collapse:separate;
}
h1 {
    font-size: 3rem;
}
h1, h2, h3 {
    text-align: center;
}