{% extends 'base.html' %}
{% load static %}
{% block css %}
<link type="text/css" rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block content %}
<section>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}
    <div class="form_div">
        <div class="link__div">
            <a class="link__btn" href="{% url 'summary' %}">VIEW DATA</a><br/>
        </div>
        <form method="post" action="{% url 'scrape' %}">{% csrf_token %}
            <p>Scrape booking.com(Netherlands)</p>
            <button>GET HOTELS' DATA</button>
        </form>
        <form method="post" action="{% url 'update' %}">{% csrf_token %}
            <button>GET TODAY'S PRICES</button>
        </form>
    </div>
</section>
{% endblock %}